body {
  background-color: #528aae;
}

form.login {
  text-align: center;
  margin-top: 400px;
  font-size: 30px;
}

span.projectName {
  color: white;
  font-size: 125px;
  background: linear-gradient(
    #528aae,
    #32556bb0,
    rgba(111, 4, 235, 0.466),
    rgba(134, 4, 185, 0.623),
    rgba(255, 255, 255, 0.548),
    rgba(134, 4, 185, 0.623),
    rgba(111, 4, 235, 0.466),
    #32556bb0,
    #528aae
  );
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navlink {
  display: inline-block;
  width: 200px;
  height: 35px;
  border: white;
  font-size: 20px;
  background-color: #1d3b58;
  color: white;
}

img.subscriptionImage {
  text-align: center;
  width: 310px;
  height: 155px;
  object-fit: scale-down;
}

div.card {
  display: inline-block;
  border: 10px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
  height: 275px;
  font-size: 20px;
  background-color: aliceblue;
  animation: spin 2.5s;
}
@keyframes spin{
  0%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

div.cards {
  display: grid;
  margin-left: 300px;
  margin-right: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

div.infocard {
  display: inline-block;
  margin-top: 100px;
  height: 450px;
  width: 450px;
  background-color: aliceblue;
  font-size: 20px;
  border: 20px solid black;
  animation: grow 2s;
}

form.priceEditBtn {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #1d3b58;
  color: white;
  width: 200px;
  height: 75px;
  animation: grow 3s;
}

@keyframes grow {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

img#infoImg {
  width: 400px;
  height: 200px;
  object-fit: scale-down;
  margin-top: 10px;
}

form.addSubscriptionForm {
  display: inline-block;
  background-color: white;
  height: 300px;
  width: 600px;
  margin-top: 200px;
  border: 15px solid black;
}

div.addSub {
  font-size: 20px;
  display: inline-block;
  margin-top: 30px;
}

div.monthly {
  display: inline-block;
  font-size: 20px;
  color: whitesmoke;
  background-color: #1d3b58;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.filters {
  display: flex;
  background-color: #1d3b58;
  width: 1275px;
  height: 50px;
  margin-left: 320px;
  margin-top: 30px;
  margin-bottom: 50px;
}

form.submitbutton {
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

div.selectType {
  margin-top: 10px;
  color: white;
  margin-left: auto;
  margin-right: 15px;
}

button#allBtn {
  margin-top: 10px;
  height: 25px;
  background-color: white;
}

p.emptyList {
  font-size: 50px;
  color: white;
}
